// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(md) {
    .eve-bg {
        min-height: 830px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.eve-bg {
    background-image: url('../images/eve.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#introduction {
    .jumbotron {
        h1 {
            font-family: Orbitron, sans-serif;
            font-size: 4.5rem;
        }
    } 
}

#application {
    .card {
        border: 1px solid white;
        background-color: rgba(100,100,100,0.3);
        color: white;

        label {
            font-weight: bold;
        }

        textarea {
            background: rgba(100,100,100,0.2);
            color: white;
        }
    }
}

input.form-control, .form-control:disabled, .form-control[readonly] {
    background: rgba(100, 100, 100, 0.2);
    color: white;
}

.filter {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/rect_1.png');
}

.bg-none {
    background: transparent;
}
.font-big {
    font-size: 1.3em;
}
.font-bigger {
    font-size: 1.6em;
}
.font-bigly {
    font-size: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

