// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.eve-bg {
    background-image: url('../images/eve.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#introduction {
    .jumbotron {
        h1 {
            font-family: Orbitron, sans-serif;
        }
    }
}

#application {
    .card {
        border: 1px solid white;
        background-color: rgba(100,100,100,0.3);
        color: white;

        label {
            font-weight: bold;
        }

        textarea {
            background: rgba(100,100,100,0.2);
            color: white;
        }
    }
}

#haulage-calculator {
    input.form-control, .form-control:disabled, .form-control[readonly] {
        background: rgba(100, 100, 100, 0.2);
        color: white;
    }
}

.filter {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/rect_1.png');
}

.bg-none {
    background: transparent;
}
.font-big {
    font-size: 1.3em;
}
.font-bigger {
    font-size: 1.6em;
}
.font-bigly {
    font-size: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

/*== start of code for tooltips ==*/
.tool {
    cursor: help;
    position: relative;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: #3E474F transparent transparent transparent;
    bottom: 100%;
    content: "";
    margin-left: -0.5em;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
    transform:  scale(.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}

.tool::after {
    background: #3E474F;
    border-radius: .25em;
    bottom: 180%;
    color: #EDEFF0;
    content: attr(data-tip);
    margin-left: -8.75em;
    padding: 1em;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
    transform:  scale(.6) translateY(50%);
    width: 17.5em;
}

.tool:hover::after,
.tool:focus::after  {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}

@media (max-width: 760px) {
    .tool::after {
        font-size: .75em;
        margin-left: -5em;
        width: 10em;
    }
}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(md) {
    .eve-bg {
        min-height: 830px;
    }
    .jumbotron {
        h1 {
            font-size: 4.5rem;
        }
    }
    .footer {
        line-height: 60px;
    }
}


